@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
/* Primary */

--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

/* Neutral */

--Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: var(--Very-Dark-Blue);
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding: 0 50px;
}


.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--Dark-Blue);
  width: 350px;
  border-radius: 12px 100px 12px 12px;
  transition: 1s;
}
.div-logo {
  margin-left: 41px;
}
.logo {
  margin-top: 40px;
}
h1 {
  display: none;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 29px;
  margin: 0px 0px 40px 41px;
}
.icons {
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  cursor: pointer;
}
.icons:hover {
  filter: opacity(70%);
  transition: 0.2s;
}
.i1 {
  padding: 12px 14px 8px 14px;
}
.i2 {
  padding: 14px 12px 10px 12px;
}
.i3 {
  padding: 16px 12px 12px 12px
}




.graphic {
  /* display: none; */
  margin-top: 44px;
  background-color: var(--Dark-Blue);
  /* padding: 0 39px; */
  border-radius: 12px;
  width: 540px;
  min-width: 490px;
  transition: 1s;
}
.graphic-container {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 0 auto;
}
.p-gra {
  font-size: 15px;
  letter-spacing: -0.024em;
  color: var(--Pale-Blue);
  margin-top: 39px;
}
.message {
  display: none;
  right: 18.5rem;
  position: absolute;
  background-color: white;
  border-radius: 10px;
}
h2 {
  font-size: 40px;
  color: var(--Dark-Blue);
  padding: 12px 25px 13px 24px;
}
.gb-left {
  font-size: 12.5px;
  letter-spacing: 0.046em;
  color: var(--Grayish-Blue);
}
.storage {
  display: flex;
  align-items: center;
  height: 20px;
  width: 459px;
  border-radius: 10px;
  background-color: var(--Very-Dark-Blue);
  margin: 15px 0 7px 0;
}
.porcent {
  background: linear-gradient(to right, #fba399, #fb4d93);
  height: 14px;
  width: 340px;
  border-radius: 10px;
  margin-left: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.range {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 3px;
  background-color: antiquewhite;
}
.gb {
  transition: none;
  font-size: 13px;
  font-weight: 700;
  color: var(--Pale-Blue);
  letter-spacing: -0.024em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (max-width: 880px) {
  * {
    transition: 1s;
  }

  body {
    flex-direction: column;
    background-color: var(--Very-Dark-Blue);
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    padding: 0 5px;
  }


  .panel {
    width: 326px;
    transition: 1s;
  }

  .graphic {
    width: 326px;
    min-width: 326px;
    margin-top: 0px;
  }
  .graphic-container {
    width: 262px;
  }
  .storage {
    width: 262px;
  }
  .porcent {
    width: 193px;
  }

  .message {
  }
}