@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
/* Primary */

--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

/* Neutral */

--Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: var(--Very-Dark-Blue);
}


.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--Dark-Blue);
  height: 201px;
  width: 350px;
  border-radius: 12px 100px 12px 12px;
}
.div-logo {
  margin-left: 41px;
}
.logo {
  padding-top: 5px;
}
h1 {
  display: none;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 33.73px 0 0 41px;
}
.icons {
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
}
.i1 {
  padding: 12px 14px 8px 14px;
}
.i2 {
  padding: 14px 12px 10px 12px;
}
.i3 {
  padding: 16px 12px 12px 12px
}